{% extends "index.html" %}
{% load markdown_deux_tags %}

{% block body %}
<div class="center">
    {% for article in articles %}
    <div class="card w-50 m-3" style="display:table;margin:1em auto !important;">
        <img class="card-img-top" src="/media/{{ article.thumbnail }}" alt="Card image cap">
        <div class="card-body">
            <h3 class="card-title"><i class="fa fa-newspaper-o" aria-hidden="true"></i> {{ article.title }} </h3>
            <div>{{ article.content| markdown | truncatewords:30}}</div>
            <hr>
            <div class="row">
                <div class="col"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ article.created_at | timesince }} ago</div>
                <div class="col"><i class="fa fa-user" aria-hidden="true"></i> {{ article.author }}</div>
                <div class="col">
                    <a href="{% url 'article:detail' article.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}